i{
    font-size: 25px;
}

.fa-ul a:hover{
    /*color: red;*/
    background-color: transparent;
    text-decoration: underline;
}

.fa-ul li{
    margin-top: 5px;
}

/*
.stick{
    position: fixed;
}

@media only screen and (min-width: 768px) {
  .stick {
      position: fixed;
  }
}

 */