.myname{
    font-size: 40px;
    padding: 17px;
    margin: 0;
    font-weight: bold;
}

.navbar-bottom{
    /** border-bottom: black solid 1px; **/
    border-bottom-color: rgba(0,0,0,.125);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.nav-dec{
    font-weight: bold;
    color: black;

    /*margin-top: 17px;*/
    color: black;

    font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 15px;

}

/* mouse over link */
.navButton a:hover {
    color: #007bff;
}
