
/* Whole navbar */
.navbar{
    padding: 0px;
    letter-spacing: 0.1rem !important;
}

.navbar-bottom{
    border-bottom-color: rgba(0,0,0,.125);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/* My Name */
.myname{
    padding: 20px;
    margin: 0;
    font-weight: bold;
    color: black;

    font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 16px;

}
.myname:hover{
    background-color: #dff3ff;
}

/* Makes my name look like a normal link */
/*
.myname:hover{
    color: #0B0080 !important;
    text-decoration: underline !important;
}
*/

.nav-link{
    padding: 20px;
}
.nav-link:hover{
    background-color: #dff3ff;
}

/* display sidebars on navlinks */
/*
@media only screen and (min-width: 575px) {
  .nav-link:hover {
      border-left: 1px solid black;
      border-right: 1px solid black;
  }
}
*/

@media only screen and (max-width: 575px) {
  .nav-link {
    border-top-color: rgba(0,0,0,.125);
    border-top-style: solid;
    border-top-width: 2px;
  }
}


.nav-text{
    color: #007bff !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    margin-left: 15px;
}
