    <!-- Single instance cards without using jinja

        <div class="card-deck">
            <div class="card">
                <img src="{{ url_for('static', filename='images/project-images/relax.png') }}" class="card-img-top" alt="project1">
                <div class="card-body">
                    <h5 class="card-title"> Method of Relaxation <br>
                        <small><a href="https://github.com/Jim-Shaddix/Method-Of-Relaxation">https://github.com/Jim-Shaddix/Method-Of-Relaxation </a>
                        </small>
                    </h5>
                    <p class="card-text"> This is a web dashboard I developed that uses the Method of Relaxation for
                        approximating solutions to laplace's partially differential quation. This dashboard can be used
                        to visualize the potential between a system of capacitors.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    -->

