<!DOCTYPE html>
<html lang="en">
<head>

  <!-- required for boot-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- my global styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pretty.css') }}">

  <!-- Specific styles -->
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='contactBar.css') }}>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='projectCards.css') }}>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='contactForm.css') }}>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='navBar.css') }}>

  <!-- Place your kit's code here (for font awsome icons) -->
  <script src="https://kit.fontawesome.com/925f94215c.js"></script>

  {% if title %}
    <title> {{ title }} </title>
  {% else %}
    <title>Title</title>
  {% endif %}

</head>
<body>


<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-light navbar-bottom">

  <a href="home" class="navbar-brand myname nav-dec">James Shaddix</a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">

      <!-- Links -->
      <li class="nav-item">
        <a class="nav-text nav-link " href="projects"> PROJECTS </a>
      </li>
      <li class="nav-item">
        <a class="nav-text nav-link" href="speaking"> SPEAKING </a>
      </li>
      <li class="nav-item">
        <a class="nav-text nav-link" href="contact"> CONTACT </a>
      </li>

    </ul>
  </div>
</nav>



{% block content %}
{% endblock content %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
