{% extends "layout.html" %}

{% block content %}

  <header>

    <h1><b> Talks </b></h1>

    <h3>
      <small>
        <b>
          Below are examples of some presentations that I have given.
        </b>
      </small>
    </h3>

  </header>


  <section>
    <div class="container">

      <!-- Handling Talks-->
      {% if project_list %}
        {% for project in project_list %}
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ url_for('static', filename=project.image) }}" class="card-img" alt="{{ project.title }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ project.title }}
                  </h5>
                  <p class="card-text"> {{ project.description }}</p>
                  <div class="row">
                    <div class="col">
                      <p class="card-text">
                        <small class="text-muted">
                          presented on: {{ project.date }}
                        </small>
                      </p>
                    </div>
                    <div class="col text-right">
                      {% if project.slides_online %}
                      <a href={{ project.slides_online }} target="_blanck">
                        <div class="btn btn-outline-success">
                          view slides online
                        </div>
                      </a>
                      {% endif %}
                      {% if project.slides_powerpoint %}
                        <a href={{ project.slides_powerpoint }} download>
                          <div class="btn btn-outline-info">
                            Download Powerpoint
                          </div>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                <!--
                  {% if project.slides_online %}
                    <small>
                      <a href={{ project.slides_online }} target="_blanck">
                        view slides online
                      </a>
                    </small>
                  {% endif %}
                  {% if project.slides_powerpoint %}
                    <small>
                      <a href={{ project.slides_powerpoint }} download>
                        download powerpoint
                      </a>
                    </small>
                  {% endif %}
                  !-->
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

    </div> <!-- End Container-->

  </section>


{% endblock content %}


